{
  "swagger": "2.0",
  "info": {
    "description": "",
    "version": "0.1.6",
    "title": "GIT Blockchain Api"
  },
  "host": "gitblockchain.uticgroupafrica.com",
  "basePath": "/",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/createwallets": {
      "post": {
        "tags": [
          "Simply Endpoint"
        ],
        "summary": "Create a new wallets for user",
        "description": "",
        "operationId": "createWallet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "description": "user uuid need to be add in the url request",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/createwallets"
              }
            }
          },
          "401": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/cryptomodels/{uuid}": {
      "get": {
        "tags": [
          "Simply Endpoint"
        ],
        "summary": "Get all informations for a cryptomodel",
        "description": "",
        "operationId": "cryptomodel1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "user uuid need to be add in the url request",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/cryptomodel"
              }
            }
          },
          "401": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/cryptomodels/stakable/{uuid}": {
      "get": {
        "tags": [
          "Simply Endpoint"
        ],
        "summary": "Get all informations for a cryptomodel",
        "description": "",
        "operationId": "cryptostakemodel1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "user uuid need to be add in the url request",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/cryptomodel"
              }
            }
          },
          "401": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/btc/createwallet": {
      "post": {
        "tags": [
          "Bitcoin"
        ],
        "summary": "Create a new bitcoin wallet",
        "description": "",
        "operationId": "createbtcWallet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "description": "user uuid need to be add in the url request",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/createwallets"
              }
            }
          },
          "401": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/btc/accountbalance/{uuid}": {
      "get": {
        "tags": [
          "Bitcoin"
        ],
        "summary": "Get a current bitcoin balance for a specific user",
        "description": "",
        "operationId": "getbtcBalance",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "user uuid need to be add in the url request",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/accountbalance"
              }
            }
          },
          "401": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/btc/wallet/getaddress": {
      "get": {
        "tags": [
          "Bitcoin"
        ],
        "summary": "Get a current bitcoin address for a specific user",
        "description": "",
        "operationId": "getbtcAddress",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "description": "user uuid need to be add in the url request",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/walletaddress"
              }
            }
          },
          "401": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/btc/estimatefees": {
      "post": {
        "tags": [
          "Bitcoin"
        ],
        "summary": "send a transaction for get the transaction fee",
        "description": "For this endpoint you need to give the bitcoin address of recipient",
        "operationId": "estimategasbtc1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "description": "user uuid need to be add in the url request",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "user wallet address",
            "required": true,
            "type": "string",
            "example": "0x.."
          },
          {
            "name": "value",
            "in": "query",
            "description": "amount of transaction",
            "required": true,
            "type": "string"
          },
          {
            "name": "fees_type",
            "in": "query",
            "description": "type of fees",
            "required": true,
            "type": "string",
            "example": "Withdraw or send"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/estimatefees"
              }
            }
          },
          "401": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/btc/sendtransaction/{txtype}": {
      "post": {
        "tags": [
          "Bitcoin"
        ],
        "summary": "send a transaction from a user to another user out or in the platform",
        "description": "For this endpoint you need to give the bitcoin address of recipient",
        "operationId": "sendbtcTransaction1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "description": "user uuid need to be add in the url request",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "txtype",
            "in": "path",
            "description": "The transaction Type",
            "required": true,
            "type": "string",
            "example": "3 possible values:'received','send','withdraw'"
          },
          {
            "name": "to",
            "in": "query",
            "description": "user wallet address",
            "required": true,
            "type": "string",
            "example": "0x.."
          },
          {
            "name": "value",
            "in": "query",
            "description": "amount of transaction",
            "required": true,
            "type": "string"
          },
          {
            "name": "txfee",
            "in": "query",
            "description": "fees of transaction",
            "required": true,
            "type": "string"
          },
          {
            "name": "companyfee",
            "in": "query",
            "description": "company fees of transaction",
            "required": true,
            "type": "string"
          },
          {
            "name": "momo_method",
            "in": "query",
            "description": "the mobile money method the user choose - Only if the tx_type = withdraw",
            "required": false,
            "type": "string"
          },
          {
            "name": "currency",
            "in": "query",
            "description": "currency of country the user choose - Only if the tx_type = withdraw",
            "required": false,
            "type": "string"
          },
          {
            "name": "country",
            "in": "query",
            "description": "country the user choose - Only if the tx_type = withdraw",
            "required": false,
            "type": "string"
          },
          {
            "name": "phone",
            "in": "query",
            "description": "phone of the user choose - Only if the tx_type = withdraw",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/transaction"
              }
            }
          },
          "401": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/eth/createwallet": {
      "post": {
        "tags": [
          "Ethereum"
        ],
        "summary": "Create a new ethereum wallet",
        "description": "",
        "operationId": "createethWallet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "description": "user uuid need to be add in the url request",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/createwallets"
              }
            }
          },
          "401": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/eth/accountbalance/{uuid}": {
      "get": {
        "tags": [
          "Ethereum"
        ],
        "summary": "Get a current ethereum balance for a specific user",
        "description": "",
        "operationId": "getethBalance",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "user uuid need to be add in the url request",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/accountbalance"
              }
            }
          },
          "401": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/eth/wallet/getaddress": {
      "get": {
        "tags": [
          "Ethereum"
        ],
        "summary": "Get a current ethereum address for a specific user",
        "description": "",
        "operationId": "getethAddress",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "description": "user uuid need to be add in the url request",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/walletaddress"
              }
            }
          },
          "401": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/eth/sendtransaction/{txtype}": {
      "post": {
        "tags": [
          "Ethereum"
        ],
        "summary": "send a transaction from a user to another user out or in the platform",
        "description": "For this endpoint you need to give the ethereum address of recipient",
        "operationId": "sendethTransaction1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "description": "user uuid need to be add in the url request",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "txtype",
            "in": "path",
            "description": "The transaction Type",
            "required": true,
            "type": "string",
            "example": "3 possible values:'received','send','withdraw'"
          },
          {
            "name": "to",
            "in": "query",
            "description": "user wallet address",
            "required": true,
            "type": "string",
            "example": "0x.."
          },
          {
            "name": "value",
            "in": "query",
            "description": "amount of transaction",
            "required": true,
            "type": "string"
          },
          {
            "name": "txfee",
            "in": "query",
            "description": "fees of transaction",
            "required": true,
            "type": "string"
          },
          {
            "name": "companyfee",
            "in": "query",
            "description": "company fees of transaction",
            "required": true,
            "type": "string"
          },
          {
            "name": "momo_method",
            "in": "query",
            "description": "the mobile money method the user choose - Only if the tx_type = withdraw",
            "required": false,
            "type": "string"
          },
          {
            "name": "currency",
            "in": "query",
            "description": "currency of country the user choose - Only if the tx_type = withdraw",
            "required": false,
            "type": "string"
          },
          {
            "name": "country",
            "in": "query",
            "description": "country the user choose - Only if the tx_type = withdraw",
            "required": false,
            "type": "string"
          },
          {
            "name": "phone",
            "in": "query",
            "description": "phone of the user choose - Only if the tx_type = withdraw",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/transaction"
              }
            }
          },
          "401": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/eth/estimatefees": {
      "post": {
        "tags": [
          "Ethereum"
        ],
        "summary": "send a transaction for get the transaction fee",
        "description": "For this endpoint you need to give the ethereum address of recipient",
        "operationId": "estimategaseth1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "description": "user uuid need to be add in the url request",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "user wallet address",
            "required": true,
            "type": "string",
            "example": "0x.."
          },
          {
            "name": "value",
            "in": "query",
            "description": "amount of transaction",
            "required": true,
            "type": "string"
          },
          {
            "name": "fees_type",
            "in": "query",
            "description": "type of fees",
            "required": true,
            "type": "string",
            "example": "Withdraw or send"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/estimatefees"
              }
            }
          },
          "401": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/bsc/bnb/createwallet": {
      "post": {
        "tags": [
          "Binance"
        ],
        "summary": "Create a new binance wallet",
        "description": "",
        "operationId": "createbscWallet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "description": "user uuid need to be add in the url request",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/createwallets"
              }
            }
          },
          "401": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/bsc/bnb/accountbalance/{uuid}": {
      "get": {
        "tags": [
          "Binance"
        ],
        "summary": "Get a current binance balance for a specific user",
        "description": "",
        "operationId": "getbscBalance",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "user uuid need to be add in the url request",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/accountbalance"
              }
            }
          },
          "401": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/bsc/bnb/wallet/getaddress": {
      "get": {
        "tags": [
          "Binance"
        ],
        "summary": "Get a current binance address for a specific user",
        "description": "",
        "operationId": "getbscAddress",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "description": "user uuid need to be add in the url request",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/walletaddress"
              }
            }
          },
          "401": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/bsc/bnb/sendtransaction/{txtype}": {
      "post": {
        "tags": [
          "Binance"
        ],
        "summary": "send a transaction from a user to another user out or in the platform",
        "description": "For this endpoint you need to give the binance address of recipient",
        "operationId": "sendbscTransaction1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "description": "user uuid need to be add in the url request",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "txtype",
            "in": "path",
            "description": "The transaction Type",
            "required": true,
            "type": "string",
            "example": "3 possible values:'received','send','withdraw'"
          },
          {
            "name": "to",
            "in": "query",
            "description": "user wallet address",
            "required": true,
            "type": "string",
            "example": "0x.."
          },
          {
            "name": "value",
            "in": "query",
            "description": "amount of transaction",
            "required": true,
            "type": "string"
          },
          {
            "name": "txfee",
            "in": "query",
            "description": "fees of transaction",
            "required": true,
            "type": "string"
          },
          {
            "name": "companyfee",
            "in": "query",
            "description": "company fees of transaction",
            "required": true,
            "type": "string"
          },
          {
            "name": "momo_method",
            "in": "query",
            "description": "the mobile money method the user choose - Only if the tx_type = withdraw",
            "required": false,
            "type": "string"
          },
          {
            "name": "currency",
            "in": "query",
            "description": "currency of country the user choose - Only if the tx_type = withdraw",
            "required": false,
            "type": "string"
          },
          {
            "name": "country",
            "in": "query",
            "description": "country the user choose - Only if the tx_type = withdraw",
            "required": false,
            "type": "string"
          },
          {
            "name": "phone",
            "in": "query",
            "description": "phone of the user choose - Only if the tx_type = withdraw",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/transaction"
              }
            }
          },
          "401": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/bsc/bnb/estimatefees": {
      "post": {
        "tags": [
          "Binance"
        ],
        "summary": "send a transaction for get the transaction fee",
        "description": "For this endpoint you need to give the binance address of recipient",
        "operationId": "estimategasbsc1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "description": "user uuid need to be add in the url request",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "user wallet address",
            "required": true,
            "type": "string",
            "example": "0x.."
          },
          {
            "name": "value",
            "in": "query",
            "description": "amount of transaction",
            "required": true,
            "type": "string"
          },
          {
            "name": "fees_type",
            "in": "query",
            "description": "type of fees",
            "required": true,
            "type": "string",
            "example": "Withdraw or send"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/estimatefees"
              }
            }
          },
          "401": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/{token_symbol}/createwallet": {
      "post": {
        "tags": [
          "ETHEREUM TOKENS"
        ],
        "summary": "Create a new token wallet",
        "description": "",
        "operationId": "createsmbWallet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "description": "user uuid need to be add in the url request",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "token_symbol",
            "in": "path",
            "description": "token symbol you need to be add in the path",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/createwallets"
              }
            }
          },
          "401": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/{token_symbol}/accountbalance/{uuid}": {
      "get": {
        "tags": [
          "ETHEREUM TOKENS"
        ],
        "summary": "Get a current token balance for a specific user",
        "description": "",
        "operationId": "gettokenBalance",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "user uuid need to be add in the url request",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "token_symbol",
            "in": "path",
            "description": "token symbol you need to be add in the path",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/accountbalance"
              }
            }
          },
          "401": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/{token_symbol}/wallet/getaddress": {
      "get": {
        "tags": [
          "ETHEREUM TOKENS"
        ],
        "summary": "Get a current token address for a specific user",
        "description": "",
        "operationId": "getsmbAddress",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "description": "user uuid need to be add in the url request",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "token_symbol",
            "in": "path",
            "description": "token symbol you need to be add in the path",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/walletaddress"
              }
            }
          },
          "401": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/{token_symbol}/sendtransaction/{txtype}": {
      "post": {
        "tags": [
          "ETHEREUM TOKENS"
        ],
        "summary": "send a transaction from a user to another user out or in the platform",
        "description": "For this endpoint you need to give the token address of recipient",
        "operationId": "sendtokenTransaction1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "description": "user uuid need to be add in the url request",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "token_symbol",
            "in": "path",
            "description": "token symbol you need to be add in the path",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "txtype",
            "in": "path",
            "description": "The transaction Type",
            "required": true,
            "type": "string",
            "example": "3 possible values:'received','send','withdraw'"
          },
          {
            "name": "to",
            "in": "query",
            "description": "user wallet address",
            "required": true,
            "type": "string",
            "example": "0x.."
          },
          {
            "name": "value",
            "in": "query",
            "description": "amount of transaction",
            "required": true,
            "type": "string"
          },
          {
            "name": "txfee",
            "in": "query",
            "description": "fees of transaction",
            "required": true,
            "type": "string"
          },
          {
            "name": "companyfee",
            "in": "query",
            "description": "company fees of transaction",
            "required": true,
            "type": "string"
          },
          {
            "name": "momo_method",
            "in": "query",
            "description": "the mobile money method the user choose - Only if the tx_type = withdraw",
            "required": false,
            "type": "string"
          },
          {
            "name": "currency",
            "in": "query",
            "description": "currency of country the user choose - Only if the tx_type = withdraw",
            "required": false,
            "type": "string"
          },
          {
            "name": "country",
            "in": "query",
            "description": "country the user choose - Only if the tx_type = withdraw",
            "required": false,
            "type": "string"
          },
          {
            "name": "phone",
            "in": "query",
            "description": "phone of the user choose - Only if the tx_type = withdraw",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/transaction"
              }
            }
          },
          "401": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/{token_symbol}/estimatefees": {
      "post": {
        "tags": [
          "ETHEREUM TOKENS"
        ],
        "summary": "send a transaction for get the transaction fee",
        "description": "For this endpoint you need to give the simbcoin address of recipient",
        "operationId": "estimategassmb1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "description": "user uuid need to be add in the url request",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "token_symbol",
            "in": "path",
            "description": "token symbol you need to be add in the path",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "user wallet address",
            "required": true,
            "type": "string",
            "example": "0x.."
          },
          {
            "name": "value",
            "in": "query",
            "description": "amount of transaction",
            "required": true,
            "type": "string"
          },
          {
            "name": "fees_type",
            "in": "query",
            "description": "type of fees",
            "required": true,
            "type": "string",
            "example": "Withdraw or send"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/estimatefees"
              }
            }
          },
          "401": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/{prefix}/{token_symbol}/createwallet": {
      "post": {
        "tags": [
          "BSC BINANCE TOKENS"
        ],
        "summary": "Create a new token wallet",
        "description": "",
        "operationId": "createbsctokenWallet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "description": "user uuid need to be add in the url request",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "token_symbol",
            "in": "path",
            "description": "token symbol you need to be add in the path",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "prefix",
            "in": "path",
            "description": "token prefix you need to be add in the path",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/createwallets"
              }
            }
          },
          "401": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/{prefix}/{token_symbol}/accountbalance/{uuid}": {
      "get": {
        "tags": [
          "BSC BINANCE TOKENS"
        ],
        "summary": "Get a current token balance for a specific user",
        "description": "",
        "operationId": "getbsctokenBalance",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "user uuid need to be add in the url request",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "token_symbol",
            "in": "path",
            "description": "token symbol you need to be add in the path",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "prefix",
            "in": "path",
            "description": "token prefix you need to be add in the path",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/accountbalance"
              }
            }
          },
          "401": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/{prefix}/{token_symbol}/wallet/getaddress": {
      "get": {
        "tags": [
          "BSC BINANCE TOKENS"
        ],
        "summary": "Get a current token address for a specific user",
        "description": "",
        "operationId": "getbscAddress",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "description": "user uuid need to be add in the url request",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "token_symbol",
            "in": "path",
            "description": "token symbol you need to be add in the path",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "prefix",
            "in": "path",
            "description": "token prefix you need to be add in the path",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/walletaddress"
              }
            }
          },
          "401": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/{prefix}/{token_symbol}/sendtransaction/{txtype}": {
      "post": {
        "tags": [
          "BSC BINANCE TOKENS"
        ],
        "summary": "send a transaction from a user to another user out or in the platform",
        "description": "For this endpoint you need to give the token address of recipient",
        "operationId": "sendbsctokenTransaction1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "description": "user uuid need to be add in the url request",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "token_symbol",
            "in": "path",
            "description": "token symbol you need to be add in the path",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "prefix",
            "in": "path",
            "description": "token prefix you need to be add in the path",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "txtype",
            "in": "path",
            "description": "The transaction Type",
            "required": true,
            "type": "string",
            "example": "3 possible values:'received','send','withdraw'"
          },
          {
            "name": "to",
            "in": "query",
            "description": "user wallet address",
            "required": true,
            "type": "string",
            "example": "0x.."
          },
          {
            "name": "value",
            "in": "query",
            "description": "amount of transaction",
            "required": true,
            "type": "string"
          },
          {
            "name": "txfee",
            "in": "query",
            "description": "fees of transaction",
            "required": true,
            "type": "string"
          },
          {
            "name": "companyfee",
            "in": "query",
            "description": "company fees of transaction",
            "required": true,
            "type": "string"
          },
          {
            "name": "momo_method",
            "in": "query",
            "description": "the mobile money method the user choose - Only if the tx_type = withdraw",
            "required": false,
            "type": "string"
          },
          {
            "name": "currency",
            "in": "query",
            "description": "currency of country the user choose - Only if the tx_type = withdraw",
            "required": false,
            "type": "string"
          },
          {
            "name": "country",
            "in": "query",
            "description": "country the user choose - Only if the tx_type = withdraw",
            "required": false,
            "type": "string"
          },
          {
            "name": "phone",
            "in": "query",
            "description": "phone of the user choose - Only if the tx_type = withdraw",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/transaction"
              }
            }
          },
          "401": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/{prefix}/{token_symbol}/estimatefees": {
      "post": {
        "tags": [
          "BSC BINANCE TOKENS"
        ],
        "summary": "send a transaction for get the transaction fee",
        "description": "For this endpoint you need to give the bsc token address of recipient",
        "operationId": "estimategasbsc1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "description": "user uuid need to be add in the url request",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "token_symbol",
            "in": "path",
            "description": "token symbol you need to be add in the path",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "prefix",
            "in": "path",
            "description": "token prefix you need to be add in the path",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "user wallet address",
            "required": true,
            "type": "string",
            "example": "0x.."
          },
          {
            "name": "value",
            "in": "query",
            "description": "amount of transaction",
            "required": true,
            "type": "string"
          },
          {
            "name": "fees_type",
            "in": "query",
            "description": "type of fees",
            "required": true,
            "type": "string",
            "example": "Withdraw or send"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/estimatefees"
              }
            }
          },
          "401": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/tx/getalltransaction": {
      "get": {
        "tags": [
          "Universal Transactions Endpoint"
        ],
        "summary": "Get all transaction for a specific user",
        "description": "",
        "operationId": "gettxall",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "description": "user uuid need to be add in the url request",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/alltransaction"
              }
            }
          },
          "401": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/tx/getalltx": {
      "get": {
        "tags": [
          "Universal Transactions Endpoint",
          "Dashboard Endpoint"
        ],
        "summary": "Get all transaction",
        "description": "",
        "operationId": "gettxalltx",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "description": "useradmin uuid need to be add in the url request",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/alltransaction"
              }
            }
          },
          "401": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/tx/getalltxnumber": {
      "get": {
        "tags": [
          "Universal Transactions Endpoint",
          "Dashboard Endpoint"
        ],
        "summary": "Get all transaction number",
        "description": "",
        "operationId": "gettxalltxnumber",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "description": "useradmin uuid need to be add in the url request",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/txnumber"
              }
            }
          },
          "401": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/createfees/withdraw": {
      "post": {
        "tags": [
          "Fees Managment Withdraw",
          "Dashboard Endpoint"
        ],
        "summary": "Add company fees for withdraw requests",
        "description": "",
        "operationId": "createfee1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "description": "user uuid need to be add in the url request",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "fastplus",
            "in": "query",
            "description": "Fastplus for send transaction rapidly+",
            "required": true,
            "type": "string"
          },
          {
            "name": "fast",
            "in": "query",
            "description": "Fast for send transaction rapidly",
            "required": true,
            "type": "string"
          },
          {
            "name": "medium",
            "in": "query",
            "description": "medium for send transaction little be fast",
            "required": true,
            "type": "string"
          },
          {
            "name": "normal",
            "in": "query",
            "description": "normal for send transaction normaly",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/feemanagment"
              }
            }
          },
          "401": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/allfees/withdraw/{uuid}": {
      "get": {
        "tags": [
          "Fees Managment Withdraw",
          "Dashboard Endpoint"
        ],
        "summary": "get all company fees percent for withdraw requests",
        "description": "",
        "operationId": "allfee1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "user uuid need to be add in the url request",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/feemanagment"
              }
            }
          },
          "401": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/updatefees/withdraw": {
      "put": {
        "tags": [
          "Fees Managment Withdraw",
          "Dashboard Endpoint"
        ],
        "summary": "update company fees percent for withdraw requests",
        "description": "",
        "operationId": "updatefee1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "description": "user uuid need to be add in the url request",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "fastplus",
            "in": "query",
            "description": "Fastplus for send transaction rapidly+",
            "type": "string"
          },
          {
            "name": "fast",
            "in": "query",
            "description": "Fast for send transaction rapidly",
            "type": "string"
          },
          {
            "name": "medium",
            "in": "query",
            "description": "medium for send transaction little be fast",
            "type": "string"
          },
          {
            "name": "normal",
            "in": "query",
            "description": "normal for send transaction normaly",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/feemanagment"
              }
            }
          },
          "401": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/createfees/sendtransaction": {
      "post": {
        "tags": [
          "Fees Managment send transaction",
          "Dashboard Endpoint"
        ],
        "summary": "Add company fees for send transaction requests",
        "description": "",
        "operationId": "createfee2",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "description": "user uuid need to be add in the url request",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "fastplus",
            "in": "query",
            "description": "Fastplus for send transaction rapidly+",
            "required": true,
            "type": "string"
          },
          {
            "name": "fast",
            "in": "query",
            "description": "Fast for send transaction rapidly",
            "required": true,
            "type": "string"
          },
          {
            "name": "medium",
            "in": "query",
            "description": "medium for send transaction little be fast",
            "required": true,
            "type": "string"
          },
          {
            "name": "normal",
            "in": "query",
            "description": "normal for send transaction normaly",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/feemanagment"
              }
            }
          },
          "401": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/allfees/sendtransaction/{uuid}": {
      "get": {
        "tags": [
          "Fees Managment send transaction",
          "Dashboard Endpoint"
        ],
        "summary": "get all company fees percent for send transaction requests",
        "description": "",
        "operationId": "allfee2",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "user uuid need to be add in the url request",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/feemanagment"
              }
            }
          },
          "401": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/updatefees/sendtransaction": {
      "put": {
        "tags": [
          "Fees Managment send transaction",
          "Dashboard Endpoint"
        ],
        "summary": "update company fees percent for send transaction requests",
        "description": "",
        "operationId": "updatefee2",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "description": "user uuid need to be add in the url request",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "fastplus",
            "in": "query",
            "description": "Fastplus for send transaction rapidly+",
            "type": "string"
          },
          {
            "name": "fast",
            "in": "query",
            "description": "Fast for send transaction rapidly",
            "type": "string"
          },
          {
            "name": "medium",
            "in": "query",
            "description": "medium for send transaction little be fast",
            "type": "string"
          },
          {
            "name": "normal",
            "in": "query",
            "description": "normal for send transaction normaly",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/feemanagment"
              }
            }
          },
          "401": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/company/getallfees": {
      "get": {
        "tags": [
          "Fees Managment Withdraw",
          "Dashboard Endpoint"
        ],
        "summary": "Get all company fees collect",
        "description": "",
        "operationId": "companysfee1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "description": "user uuid need to be add in the url request",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/companyallfee"
              }
            }
          },
          "401": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/crypto/allcrypto/tokens": {
      "get": {
        "tags": [
          "Dashboard Endpoint",
          "ETHEREUM TOKENS",
          "Crypto Managment"
        ],
        "summary": "Get all crypto (tokens) available on this platform",
        "description": "",
        "operationId": "allcrypto2",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "description": "user uuid need to be add in the url request",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/allcrypto"
              }
            }
          },
          "401": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/crypto/stakable": {
      "get": {
        "tags": [
            "Staking Endpoint"
        ],
        "summary": "Get all crypto stakable available on this platform",
        "description": "",
        "operationId": "allstakablecrypto2",
        "produces": [
          "application/json"
        ],
        "parameters": [

        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/allcrypto"
              }
            }
          },
          "401": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/crypto/allcrypto/coins": {
      "get": {
        "tags": [
          "Dashboard Endpoint",
          "COINS",
          "Crypto Managment"
        ],
        "summary": "Get all crypto (coins) available on this platform",
        "description": "",
        "operationId": "allcrypto3",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "description": "user uuid need to be add in the url request",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/allcrypto"
              }
            }
          },
          "401": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/crypto/allcrypto": {
      "get": {
        "tags": [
          "Dashboard Endpoint",
          "Crypto Managment"
        ],
        "summary": "Get all cryptos available on this platform",
        "description": "",
        "operationId": "allcrypto0",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "description": "user uuid need to be add in the url request",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/allcrypto"
              }
            }
          },
          "401": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/crypto/getcrypto/{id_crypto}": {
      "get": {
        "tags": [
          "Dashboard Endpoint",
          "Crypto Managment"
        ],
        "summary": "Get crypto by id available on this platform",
        "description": "",
        "operationId": "getcrypto0",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "description": "user uuid need to be add in the url request",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "id_crypto",
            "in": "path",
            "description": "cryptoid need to be add",
            "required": true,
            "type": "integer",
            "items": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/allcrypto"
              }
            }
          },
          "401": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/crypto/add/crypto": {
      "post": {
        "tags": [
          "Dashboard Endpoint",
          "Crypto Managment"
        ],
        "summary": "Add a new crypto on the platform",
        "description": "",
        "operationId": "AddCrypto1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "body for you query",
            "required": true,
            "schema": {
              "$ref": "#/definitions/addcrypto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/allcrypto"
              }
            }
          },
          "401": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/crypto/update/crypto": {
      "put": {
        "tags": [
          "Dashboard Endpoint",
          "Crypto Managment"
        ],
        "summary": "update a crypto on the platform",
        "description": "",
        "operationId": "UpdateCrypto1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "body for you query",
            "required": true,
            "schema": {
              "$ref": "#/definitions/addcrypto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/allcrypto"
              }
            }
          },
          "401": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/momo/convert/{operation}/{currency}": {
      "get": {
        "tags": [
          "MOMO Endpoint"
        ],
        "summary": "Convert usd value to a local currency value",
        "description": "",
        "operationId": "convert1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "currency",
            "in": "path",
            "description": "This is the local currency symbol you want to get",
            "required": true,
            "type": "string"
          },
          {
            "name": "operation",
            "in": "path",
            "description": "if you want to sell or buy, two possible value: buy,sell",
            "required": true,
            "type": "string"
          },
          {
            "name": "value_usd",
            "in": "query",
            "description": "This is the dollar value you want to convert in local currency",
            "type": "double"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/convert"
              }
            }
          },
          "401": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/momo/getpayment/methods": {
      "get": {
        "tags": [
          "MOMO Endpoint"
        ],
        "summary": "get all payment methods",
        "description": "",
        "operationId": "method1",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/method1"
              }
            }
          },
          "401": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/momo/payment/available/{country}": {
      "get": {
        "tags": [
          "MOMO Endpoint"
        ],
        "summary": "get payment method available for a country",
        "description": "",
        "operationId": "method2",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "country",
            "in": "path",
            "description": "country for check payment method available",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/method2"
              }
            }
          },
          "401": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/momo/payment/buy/crypto": {
      "post": {
        "tags": [
          "MOMO Endpoint"
        ],
        "summary": "create buy cryto request for a specifique user and ",
        "description": "",
        "operationId": "buycrypto1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "user uuid need to be add in the url request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/buycrypto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/transaction"
              }
            }
          },
          "401": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/twilio/otp/request": {
      "post": {
        "tags": [
          "OTP Endpoint"
        ],
        "summary": "Request for send OTP NUMBER",
        "description": "",
        "operationId": " twiliorequest",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/twilioreq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/twilio2"
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "schema": {
              "items": {
                "$ref": "#/definitions/twilioeror1"
              }
            }
          }
        }
      }
    },
    "/twilio/verify": {
      "post": {
        "tags": [
          "OTP Endpoint"
        ],
        "summary": "Request for verify number",
        "description": "",
        "operationId": " twilioverify",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/twilioverify"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/twilio1"
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "schema": {
              "items": {
                "$ref": "#/definitions/twilioeror1"
              }
            }
          }
        }
      }
    },
    "/staking/create/stake": {
      "post": {
        "tags": [
          "Staking Endpoint"
        ],
        "summary": "add e request on the staking pool for a specific user",
        "description": "",
        "operationId": "createstake1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createstake"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/stake"
              }
            }
          },
          "500": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/staking/admin/get/stakeholders/{uuid}": {
      "get": {
        "tags": [
          "Staking Endpoint",
          "Dashboard Endpoint"
        ],
        "summary": "Get all stakeholders, Admin Only",
        "description": "",
        "operationId": "allstakes",
        "produces": [
          "application/json"
        ],
        "parameters": [
            {
              "name": "uuid",
              "in": "path",
              "description": "You needs to pass the user admin uuid",
              "required": true,
              "type": "string",
              "items": {
                "type": "string"
              }
            }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/getuserstake"
              }
            }
          },
          "500": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/staking/get/userstakes/{uuid}": {
      "get": {
        "tags": [
          "Staking Endpoint"
        ],
        "summary": "Get all user stakes",
        "description": "",
        "operationId": "userstakes1",
        "produces": [
          "application/json"
        ],
        "parameters": [
            {
              "name": "uuid",
              "in": "path",
              "description": "You needs to pass the user uuid",
              "required": true,
              "type": "string",
              "items": {
                "type": "string"
              }
            }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/getuserstake"
              }
            }
          },
          "500": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/staking/enable/autorenew": {
      "post": {
        "tags": [
          "Staking Endpoint"
        ],
        "summary": "enable auto renew setting for automatically reinvest an amount",
        "description": "",
        "operationId": "enabst1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/enable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/enableres"
              }
            }
          },
          "500": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/staking/disable/autorenew": {
      "post": {
        "tags": [
          "Staking Endpoint"
        ],
        "summary": "disable auto renew setting for automatically stop reinvest an amount",
        "description": "",
        "operationId": "disabst1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "user uuid need to be add in the url request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/enable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/enableres"
              }
            }
          },
          "500": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/app/get/version": {
      "get": {
        "tags": [
          "APP CONFIG"
        ],
        "summary": "Get all information of the app",
        "description": "",
        "operationId": "app12",
        "produces": [
          "application/json"
        ],
        "parameters": [
          
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/app"
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "schema": {
              "items": {
                "$ref": "#/definitions/twilioeror1"
              }
            }
          }
        }
      }
    },
    "/app/update/version": {
      "put": {
        "tags": [
          "APP CONFIG"
        ],
        "summary": "Update all information of the app",
        "description": "",
        "operationId": "appupdate1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "body for you query",
            "required": true,
            "schema": {
              "$ref": "#/definitions/updateapp"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/app"
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "schema": {
              "items": {
                "$ref": "#/definitions/twilioeror1"
              }
            }
          }
        }
      }
    },
    "/app/settings": {
      "get": {
        "tags": [
          "APP TERMS AND POLICY"
        ],
        "summary": "Get all information of the app policy",
        "description": "",
        "operationId": "policy1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/policy"
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "schema": {
              "items": {
                "$ref": "#/definitions/#"
              }
            }
          }
        }
      }
    },
    "/app/settings/create": {
      "post": {
        "tags": [
          "APP TERMS AND POLICY"
        ],
        "summary": "create terms,conditions and policy",
        "description": "",
        "operationId": "createpolicy1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "body for you query",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createpolicy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/policy"
              }
            }
          },
          "500": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/app/settings/update": {
      "put": {
        "tags": [
          "APP TERMS AND POLICY"
        ],
        "summary": "update terms,conditions or policy",
        "description": "",
        "operationId": "updatepolicy1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "body for you query",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createpolicy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/policy"
              }
            }
          },
          "500": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/app/faq": {
      "get": {
        "tags": [
          "APP FAQ"
        ],
        "summary": "Get all information of the app FAQ",
        "description": "",
        "operationId": "faq1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/faq"
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "schema": {
              "items": {
                "$ref": "#/definitions/#"
              }
            }
          }
        }
      }
    },
    "/app/faq/create": {
      "post": {
        "tags": [
          "APP FAQ"
        ],
        "summary": "create faq",
        "description": "",
        "operationId": "createfaq1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "body for you query",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createfaq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/faq"
              }
            }
          },
          "500": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/app/faq/update/{id_question}": {
      "put": {
        "tags": [
          "APP FAQ"
        ],
        "summary": "update faq",
        "description": "",
        "operationId": "updatefaq1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "body for you query",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createfaq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/faq"
              }
            }
          },
          "500": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/app/support": {
      "get": {
        "tags": [
          "APP SUPPORT"
        ],
        "summary": "Get all information of the app support",
        "description": "",
        "operationId": "suppport1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/support"
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "schema": {
              "items": {
                "$ref": "#/definitions/#"
              }
            }
          }
        }
      }
    },
    "/app/support/create": {
      "post": {
        "tags": [
          "APP SUPPORT"
        ],
        "summary": "create support",
        "description": "",
        "operationId": "support123",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "body for you query",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createsupport"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/support"
              }
            }
          },
          "500": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/app/annonce": {
      "get": {
        "tags": [
          "APP ANNONCE"
        ],
        "summary": "Get all information of the app annonce",
        "description": "",
        "operationId": "getannonce1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/annonce"
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "schema": {
              "items": {
                "$ref": "#/definitions/#"
              }
            }
          }
        }
      }
    },
    "/app/annonce/{id_annonce}": {
      "get": {
        "tags": [
          "APP ANNONCE"
        ],
        "summary": "Get all information of the app annonce",
        "description": "",
        "operationId": "getannonce1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id_annonce",
            "in": "path",
            "description": "You needs to pass the user id_annonce",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/annonce"
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "schema": {
              "items": {
                "$ref": "#/definitions/#"
              }
            }
          }
        }
      }
    },
    "/app/annonce/update/{id_annonce}": {
      "put": {
        "tags": [
          "APP ANNONCE"
        ],
        "summary": "update annonce",
        "description": "",
        "operationId": "updateannonce1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "body for you query",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createannonce"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/annonce"
              }
            }
          },
          "500": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/app/annonce/delete/{id_annonce}": {
      "delete": {
        "tags": [
          "APP ANNONCE"
        ],
        "summary": "delete all information of the app annonce",
        "description": "",
        "operationId": "deleteannonce1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id_annonce",
            "in": "path",
            "description": "You needs to pass the user id_annonce",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/annoncedel"
              }
            }
          }
        }
      }
    },
    "/app/annonce/create": {
      "post": {
        "tags": [
          "APP ANNONCE"
        ],
        "summary": "create annonce",
        "description": "",
        "operationId": "annonce123",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "body for you query",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createannonce"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/annonce"
              }
            }
          },
          "500": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/user/access": {
      "get": {
        "tags": [
          "USER ACCESS"
        ],
        "summary": "Get all pages restrict",
        "description": "",
        "operationId": "getpages1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/getpage"
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "schema": {
              "items": {
                "$ref": "#/definitions/#"
              }
            }
          }
        }
      }
    },
    "/user/access/{id_page}": {
      "get": {
        "tags": [
          "USER ACCESS"
        ],
        "summary": "Get a page restrict",
        "description": "",
        "operationId": "getpage1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id_page",
            "in": "path",
            "description": "You needs to pass the id_page",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/createpage"
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "schema": {
              "items": {
                "$ref": "#/definitions/#"
              }
            }
          }
        }
      }
    },
    "/user/access/update/{id_page}": {
      "put": {
        "tags": [
          "USER ACCESS"
        ],
        "summary": "update page",
        "description": "",
        "operationId": "updatepage1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id_page",
            "description": "pass the id of page you want to update in restrict zone",
            "required": true,
            "type": "integer",
            "items": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "name",
            "description": "set name ",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/createpage"
              }
            }
          },
          "500": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/user/access/delete/{id_page}": {
      "delete": {
        "tags": [
          "USER ACCESS"
        ],
        "summary": "remove a page inside the restrict zone",
        "description": "",
        "operationId": "deletepage1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id_page",
            "in": "path",
            "description": "You needs to pass the id_page",
            "required": true,
            "type": "integer",
            "items": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/annoncedel"
              }
            }
          }
        }
      }
    },
    "/user/access/create": {
      "post": {
        "tags": [
          "USER ACCESS"
        ],
        "summary": "add page in restrict zone",
        "description": "",
        "operationId": "access1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "name",
            "description": "pass the name of page you want to add in restrict zone",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/createpage"
              }
            }
          },
          "500": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/user/type": {
      "get": {
        "tags": [
          "USER TYPE"
        ],
        "summary": "Get types",
        "description": "",
        "operationId": "gettypes1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/usertype"
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "schema": {
              "items": {
                "$ref": "#/definitions/#"
              }
            }
          }
        }
      }
    },
    "/user/type/{id_type}": {
      "get": {
        "tags": [
          "USER TYPE"
        ],
        "summary": "Get a user type",
        "description": "",
        "operationId": "gettype1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id_type",
            "in": "path",
            "description": "You needs to pass the id_type",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/createtype"
              }
            }
          },
          "500": {
            "description": "Invalid status value",
            "schema": {
              "items": {
                "$ref": "#/definitions/#"
              }
            }
          }
        }
      }
    },
    "/user/type/update/{id_type}": {
      "put": {
        "tags": [
          "USER TYPE"
        ],
        "summary": "update user type",
        "description": "",
        "operationId": "updatetype1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "body for your query",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createtype"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/createtype"
              }
            }
          },
          "500": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/user/type/delete/{id_type}": {
      "delete": {
        "tags": [
          "USER TYPE"
        ],
        "summary": "remove a user type",
        "description": "",
        "operationId": "deletetype1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id_type",
            "in": "path",
            "description": "You needs to pass the id_type",
            "required": true,
            "type": "integer",
            "items": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/annoncedel"
              }
            }
          }
        }
      }
    },
    "/user/type/create": {
      "post": {
        "tags": [
          "USER TYPE"
        ],
        "summary": "create a user type",
        "description": "",
        "operationId": "createusertype1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "body for your query",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createtype"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/usertype"
              }
            }
          },
          "500": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/user/count": {
      "post": {
        "tags": [
          "Simply Endpoint"
        ],
        "summary": "get user count",
        "description": "",
        "operationId": "countusertype1",
        "produces": [
          "application/json"
        ],
        "parameters": [

        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/usercount"
              }
            }
          },
          "500": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/notification/user/create": {
      "post": {
        "tags": [
          "APP NOTIFICATION"
        ],
        "summary": "create notification",
        "description": "",
        "operationId": "addnotification1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "body for you query",
            "required": true,
            "schema": {
              "$ref": "#/definitions/addnotif"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "items": {
                "$ref": "#/definitions/notif"
              }
            }
          },
          "500": {
            "description": "Invalid status value"
          }
        }
      }
    },
[...]
